.page {
  max-width: 1120px;
  margin: auto;
}

.page__header {
  border-bottom: 1px solid #d9fff5;
  width: 100%;
}

.page__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 88px;
}

.page__nav--size {
  margin-left: 16px;
  margin-right: 16px;
}

.item-page__icon-burger {
  background: url(/img/burger.svg) no-repeat center;
}

.item-page__icon-repair {
  background: url(/img/repair.svg) no-repeat center;
}

.item-page__icon-chek {
  background: url(/img/checkstatus.svg) no-repeat center;
}
.item-page {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.item-page__icon {
  margin-left: 16px;
}

.page__one {
  display: flex;
}

.page__two {
  display: flex;
  justify-content: center;
}

.item-page__icon--hidden {
  display: none;
}

.item-page__icon:first-child {
  align-self: center;
  margin-left: 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.page__logo {
  width: 97px;
  height: 51px;
  margin-left: 16px;
  position: relative;
}
.logo::after {
  content: "";
  position: absolute;
  height: 32px;
  width: 2px;
  background-color: #eaeaea;
  top: 28px;
  margin-left: 135px;
}
@media (min-width: 768px) {
  .page__nav--size {
    margin-left: 24px;
    margin-right: 24px;
  }

  .item-page__icon--hidden {
    display: block;
  }

  .item-page__icon-call {
    background: url(/img/call.svg) no-repeat center;
  }

  .item-page__icon-chat {
    background: url(/img/chat.svg) no-repeat center;
  }

  .item-page__icon-profile {
    background: url(/img/profile.svg) no-repeat center;
  }

  .page__logo {
    margin-left: 43px;
  }

  .logo::after {
    content: "";
    position: absolute;
    height: 32px;
    width: 2px;
    background-color: #eaeaea;
    top: 28px;
    margin-left: 25px;
  }

  .item-page__icon:nth-child(3) {
    margin-right: 42px;
  }

  .item-page__icon-profile::after {
    content: "";
    position: absolute;
    height: 32px;
    width: 2px;
    background-color: #eaeaea;
    top: 28px;
    margin-left: 70px;
  }
}
